@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
}

.content-section {
    text-align: center;
}

#html {
    background: #ffa07a url('assets/HTML5.png') left/200px repeat-y;
}

#css {
    background: #add8e6 url('assets/CSS.png') right/200px repeat-y;

}

#javascript {
    background: #fafad2 url('assets/JS.png') left/200px repeat-y;
}

.logo {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

h1 {
    font: 900 32px Poppins, sans-serif;
}

p {
    font: normal 14px "Noto Sans", sans-serif;
}

a {
    font: 900 14px "Notto Sans", sans-serif;
    color: black;
}

#html h1 {
    color: #ff4500;
}

#css h1 {
    color: #3b84fa;
}

#javascript h1 {
    color: #e4d47b;
}