@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Batas Awal Styling */

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  font-style: normal;
  font-weight: 500;
}

.left-container {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 100px;
  background-color: #1e9cf1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.left-container .content {
  margin-top: 100px;
  color: #ffffff;
}

.left-container img {
  width: 400px;
  height: 400px;
}

.left-container h1 {
  font-weight: 800;
  font-size: 32px;
  margin: 10px 0;
}

.left-container h2 {
  font-weight: 600;
  font-size: larger;
}

.right-container {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 100px;
  background-color: #ffffff;
}

.right-container .content {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-container .header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-container h1 {
  font-weight: 800;
  font-size: 32px;
  margin: 40px 0;
}

.right-container .signup {
  font-weight: 700;
  color: #1e9cf1;
  text-decoration: none;
}

.right-container a {
  text-decoration: none;
}

.right-container .form-login .enter {
  margin-bottom: 10px;
  font-size: larger;
  font-weight: 600;
  color: #757575;
}

.right-container .form-login input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 20px 20px;
  box-sizing: border-box;
  font: inherit;
  background-color: #eeeeee;
  border: none;
  border-radius: 4px;
}

.right-container .form-login .forgot-password {
  text-align: right;
  margin-bottom: 12px;
  color: black;
}

.right-container .form-login .btn-signin {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 20px 20px;
  box-sizing: border-box;
  font: inherit;
  background-color: #1e9cf1;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.right-container .form-login .divider {
  text-align: center;
  margin: 40px 0;
}

.right-container .form-login .social-login {
  display: flex;
  gap: 5px;
}

.google,
.apple {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  align-items: center;
}

.apple {
  background-color: #191d23;
  color: #ffffff;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font: inherit;
  cursor: pointer;
}
